body {background:#9bd3d5 }
.photo{
    border: 1px solid black;
    border-radius:50px;
}

#title, .subtitle, .post_title {color:  black ;}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin:0;
    margin-bottom: 15px;
}
.post {
    background: white;
    padding:15px;
    border: 3px solid  #925f13 ;
    margin-bottom:15px;
    border-radius:5px;
}

.post_content{
    margin:0;
    margin-bottom:15px;
}
.post_image{
    margin-bottom:15px;
}
